<section class="topNotifyBar">
  <div class="row">
    <p>We've extended our returns period to 60 days</p>
  </div>
</section>

<nav class="navbar navbar-expand-lg navbar-light bg-light mx-5 px-3 py-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LOGO.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Feature</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float: right;">
      <div>
        <i class="bi bi-search px-3" style="font-size:36px;"></i>
      </div>
      <div>
        <i class="bi bi-person-fill px-3" routerLink="/login" style="font-size:36px;"></i>
      </div>

      <div>
        <i class="bi bi-bag-check px-3" style="font-size:36px;"></i>
      </div>


    </div>
  </div>
</nav>