.topNotifyBar{

text-align: center;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 10px;
color: #FBECEB;
padding: 10px;
background-color: #040F16;
}
/*
.navbar-brand{
    width: 99px;
    height: 48px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 40px;
    left: 70px;
    margin-right: 70px;
    top: 65px;
    font-style: normal;
    line-height: 47px;
    color: #000000;
}
.nav-item{
    font-weight: 600;
    font-size: 16px;
    font-family: 'Rajdhani';
}*/