<form action="" method="">
    <div class="row">
    
      <div class="container">
        <h3>Sign up</h3><br><br>
        <label for="fname"><b>First name</b></label>
        <input type="text" placeholder="Enter your first name" name="fname">
        <br><br>
        <label for="lname"><b>Last name</b></label>
        <input type="text" placeholder="Enter your last name" name="lname">
        <br><br>
        <label for="email"><b>Email</b></label>
      <input type="email" placeholder="your@email.com" name="email">
      <br><br>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="***********" name="psw"><br><br>
        <button type="submit" class="registerbutton" (click)="registrationClick()">REGISTER</button>
        
      </div>
      </div>
    </form>
    
  